{
  "project_info": {
    "project_number": "TODO",
    "project_id": "TODO-dev",
    "storage_bucket": "TODO-dev.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "TODO",
        "android_client_info": {
          "package_name": "com.yakuran.nanto_nack.dev"
        }
      },
      "api_key": [
        {
          "current_key": "TODO"
        }
      ]
    }
  ]
}
